<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Projet club de sport</title>
        {% block styles %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>
    {% block body %}
        {# bannière #}
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <div class="container-fluid row">
                <a class="navbar-brand col-2" href="{{path('accueil')}}">Club de sport</a>
                <ul class="navbar-nav col-10">
                    <div class="col-6"></div>   
                    <li class="nav-item dropdown col-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Écrire un mail</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="">aux éducateurs</a>
                            <a class="dropdown-item" href="">aux contacts de catégorie(s)</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown col-1">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Liste</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{path('listeLicencies')}}">des licenciés d'une catégorie</a>
                            <a class="dropdown-item" href="">des contacts d'une catégorie ?</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown col-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Liste des mails envoyés</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="">aux éducateurs</a>
                            <a class="dropdown-item" href="">aux contacts</a>
                        </div>
                    </li>
                    <div class="col-1"></div>
                </ul>
            </div>
        </nav>
        {# Bloc que les vues pourront remplir #}
        {% block projet_body %}

        
        {% endblock %}
    {% endblock %}